/* GLOBAL STYLES
   Purpose: Provide consistent styles across all pages. 
   Helps maintain a professiona; and orgainsed interface.
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
    font-size: 17px;
}

/* NAVIGATION BAR
   Purpose: Main navigation menu across the site.
   This is included in base.html so it appears on all pages.
*/

/* Logo */ 
.navlogo{
    width: 190px;
    /* height: 50%; */

}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #5A6E1A;
    
}

/* Navigation links */

.navbar a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
    
}

/* Hover effect to improve user experience */

.navbar a:hover{
    text-decoration: underline;
}

/* Make navbar responsive to fit screen on small screens */
@media screen and (max-width: 600px) {
    .navbar, .navlogo, .nav-left,.nav-right{
        float: right;
        display: block;
    }
}

/*  PAGE CONTAINER
    Purpose: Keeps page content centered and readable.
*/

#text{
    padding-top: 15px;
}

/*  HEADINGS
    Purpose: Consistent heading styling across pages.
*/ 

h1{
    margin-bottom: 10px;
}

h2{
    margin-bottom: 5px;
}

/*  BUTTON STYLING
    Purpose: Used for submit buttons such as login button or register button etc.
*/

button, .btn{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px; 
    background: #5A6E1A;
    color: #ffffff;
}

.btn::placeholder{
    font-size: 2px;
}

.btn:hover{
    background-color: #ffffff;
    color: #000000;
}

/* PRODUCTS STYLING
    Purpose: Ensure the products are displayed in a readable format and have a consistent layout. Used to display the products in the products page.
*/

.product.grid {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.product_container{
    padding: 20px;
    width: 50%;
}

.product_card{
    background: #ffffff;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 6px 8px #888888;
    transition: transform 0.2s ease;
}

.product_card:hover{
    transform: translateY(-5px);
}

/* Product Image */
.product_image{
    display: block;
    text-align: center;
}

/* Product Detials*/
.product_description {
    padding: 15px;

}

.product_description h2{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #000000;
}

.product_description p{
    font-size: 0.9rem;
    color:#7e7e7e;
    margin-bottom: 20px;
}

.price{
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
}

.rating a{
    text-decoration: underline;
    color: #5A6E1A;
}


/* Add to cart button */
.add_to_cart{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #5A6E1A; 
    color: #ffffff;
    text-decoration: none;
    border-radius: 2px;
    width: 450px;
    text-align: center;
    transition: background-color 0.2s ease;
}

.add_to_cart:hover{
    background-color: #000000;
}

/* This makes it a single column on small screens */
 @media (max-width: 600px) {
    .product-grid{
        grid-template-columns: 1fr;
    }
 }

/*  FEATURED PRODUCTS 
    Purpose: To ensure the featured products on the homepage are visible and links to the product.html page.*/

.featured{    
    padding: 30px;
    text-align: center;
}

.products{  
    display: flex;
    justify-content: center;
    gap: 30%;
    padding-top: 20px;
}


/* PRODUCT CARD */
.products-card{
    width: 70%;
    padding: 30px;
    background: #ffffff;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 6px 8px #888888;
    transition: transform 0.2s ease;
}

.products-card:hover{
    transform: translateY(-5px);
}

.image-placeholder{
    display: block;
    align-items: center;
}

.add-to-carts{
    display: inline-block;
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #5A6E1A; 
    color: #ffffff;
    text-decoration: none;
    border-radius: 2px;
    width: 100px;
    text-align: center;
    transition: background-color 0.2s ease;
}

.add-to-carts:hover{
    background-color: #000000;
}

/* This makes it a single column on small screens */
 @media (max-width: 600px) {
    .featured{
        grid-template-columns: 1fr;
    }
 }

 /* HOMEPAGE STYLING
    Purpose: Displays the homepage view that will be used to give customers an overview of what the website includes. */


.image_container{
    background-image: url('/static/images/groceries_fruits_staked.jpg');
    background-size:cover;
    background-position: center;
    height: 400px;

    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;

    color: #ffffff;
    font-size: medium;
}

hr{
    text-decoration: none;
    color: #ffffff;
    box-shadow: none;
    width: 50%;
}

.search_input{
    width: 30%;

}

.search_bar{
    width: 150px;
    border-radius: 2px;
    background-color: #000000;
}


/* DASHBOARD */

.dashboard{
     background-image: url('/static/images/dashboard.jpg');
    background-size:cover;
    background-position: center;
    height: 400px;

    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;

    color: #ffffff;
    font-size: xx-large;
}


/*  METHODS, LOCAL PRODUCE, BENEFITS STYLING
    Displayed on the informations page */

.methods {
    background-color: #5A6E1A;
    margin: 15px; 
    padding: 5px;
}

.divider{
    display: block;
    margin: 15px;
}

.heading{
    margin-left: 10px;
    padding: 5px;
    color: #ffffff;
}

.details{
    padding: 10px;
    color:#ffffff;
}

.list{
    color:#ffffff;
}


/*  FORM STYLING
    Purpose: Ensure all forms have consistent layout.
    Used for input fields, such as the regsitration or login page. 
*/

.auth-container{
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.text{
    text-align: center;
    padding: 20px;
}

.auth-form{  
    max-width: 400px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label{
    margin-top: 10px;
}


input,select{ 
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #5A6E1A;
    border-radius: 4px;
}

.register-btn, .login-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.switch{
    padding: 20px;
    text-align: center;
}


/*  ALERT MESSAGES
    Purpose: Display flash messages from flask.
    Helps provide user feedback and improve User Experience.
*/


/* Success messages */
.success { 
    color: rgb(255, 255, 255); 
    padding: 10px;
    background-color: #7b922f;
    text-align: center;
    animation: fadeOut 1s ease-in forwards;
}

/* Error message */
.error { 
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: #da5858; 
    text-align: center;
}

/* CARD COMPONENT
    Purpose: Useful for dashboards or for displaying content such as schedules, bookinfs, or statistics.
*/

.card{
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/*
   FOOTER
   Purpose: Displays copyright and legal links.
   Helps demonstrate awareness of legal requirements.
*/

.footer{
    color: #ffffff;
    text-align:center;
    padding:20px;
    margin-top:40px;
    background:#000000;
}


