<!--
Base Template
Purpose: Provides consistent layout across all pages. Includes navigation, flash messages, global CSS and JS.
Pages extend this file using Jinja template inheritance.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
    {% block head %}{% endblock %}  
</head>


<body>

<!-- Navigation Bar -->

<nav class="navbar">

    <div>
        <img class="navlogo" src="/static/images/glhLogo.png">
    </div>

    <div class="nav-left">
      {% if user not in session %}  
        <a href="{{url_for('homepage')}}">Home</a>
        <a href="{{url_for('products')}}">Products</a>
        <a href="{{url_for('register')}}">Register</a>
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{ url_for('admin_dashboard') }}">Dashboard</a>
        <a href="{{ url_for('info') }}">GLH Informations</a>
      {% endif %} 
    </div>

    <div class="nav-left">
        {% if session.get('user_id')  %}
            <a href="{{ url_for('order') }}">Orders</a>
            <a href="{{ url_for('account') }}">Your Account</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            
        {% endif %}
    </div>
    
</nav>

<!-- Page Content -->

<main class="container">
<!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

     <!-- Main Content/Page specific content -->
    {% block content %}<!-- Placeholder for page-specific content -->
    {% endblock %}
</main>

<!-- Page Footer -->
<footer class="footer">
    <p>&copy; 2026 Greenfield Local Hub. All rights reserved.</p>

    <a href="{{ url_for('privacy') }}">Privacy Policy</a>
    <a href="{{ url_for('terms') }}">Terms & Conditions</a>
</footer>

<!-- Global JavaScript -->

<script src="{{ url_for('static', filename='/accessibility.js') }}"></script>

<!--Page Specific JavaScript-->
{% block scripts %} <!-- Placeholder for page-specific scripts -->
{% endblock %}

</body>
</html>



