{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="image_container">

    <div class="welcome_message">
        <h1>Welcome to GreenField Local Hub</h1>
        <h2>Here, You can find quality products that can last.</h2>

        <hr>
    </div>

    <!--Search Bar-->
    <div class="search">
        <input class="search_input" type="text" placeholder="Search...">
        <a href="/products"><button type="submit" class="search_bar"><i class='fa fa-search'></i> Search</button></a>
    </div>

</div>

<!--Featured Products-->
    <!--product 1-->
<div class='featured'>
    <h2>Featured Products</h2>

    <div class='products'>

        <div class='products-card'>
            <img class="image-placeholder" src="/static/images/product_cucumber.png" height='400px' width='300px' alt="GLH Medium Cucumbers 250G">
            
            <h2>GLH Medium Cucumbers 250G</h2>  

            <p>Cucumber...</p>
            <p>Sales!!!</p>

           <p><s>£1.90</s> now:£1.80</p>
            <a class="add-to-carts" href="/products" >View more</a>
        </div>


        <!--product 2-->
         <div class='products-card'>
            <img class="image-placeholder" src="/static/images/product_tomatoes_pack.png" height='400px' width='300px' alt="GLH Cherry Tomatoes 350G"> 
            
            <h2>GLH Cherry Tomatoes 350G</h2>  

            <p>Tomatoes...</p>
            <p>Sales!!!</p>

            <p><s>was: £1.60</s> now:£1.50</p>
            <a class="add-to-carts" href="/products" >View more</a>
        </div>


        <!--product 3-->
        <div class='products-card'>
            <img class="image-placeholder" src="/static/images/product_apple.png" height='400px' width='300px' alt="Fresh Apple 1"> 
            
            <h2>Fresh Apple 1</h2>  

            <p>Apple...</p>
            <p>Sales!!!</p>

            <p><s>was: £1.00</s> now:£0.30</p>
            <a class="add-to-carts" href="/products" >View more</a>
        </div>
            
    </div>
</div>


</div>















{% endblock %}