{% extends "base.html" %}

{% block title %}GLH Informations{% endblock %}

{% block content %}

<!--Greenfiled Local Hub Informations page-->
<div>
 
    <div class="methods">
        
        <h2 class="heading">Our Methods</h2>
        <hr class="divider"> 
        <p class="details">Greenfield Local Hub, ensures that through our methods, there's an availability and freshness of our products.</p>
        <ol class="list">
            <li>Sourcing: Our proud retailers source fresh ingredients from our local farmers and food producers and also provide collective marketing for them. </li>
            <li>Manufacturing: For processed items, GLH retailers source raw materials, process them, and package them for sale to our customers.</li>
            <li>Warehoursing: We store our products in warehouse or on-site, ensuring they are accessibile and ready for sale.</li>
            <li>Distribution: Greenfield Local Hub retailers incoporates logistics and distribution networks to deliver products to our retail outlet.</li>
            <li>Inventory Management: We track inventory levels and manage stock to ensure products are available when needed. Through our website, we are creating a program that enable producers to manage stock levels, update product details and view orders.</li>
            <li>Quality Control: Greenfield Local Hub retailers implement quality control measures to manage stock and ensure products are available when needed.</li>
        </ol>
    </div>

    <div class="methods">
        <h2 class="heading">Local Producers</h2>
        <hr class="divider">
        <p class="details"> Our Local producers play a crucial role in dupporting our local shop and economy as a whole and romoting sustainability. And in support of what they do, Greenfiled Local Hub create collective marketing for local farmers and food producers. These are what they focus on:</p>
        <ol class="list">
            <li>They grow and source food thta is in season, ensuring freshness and lower transportation costs. </li>
            <li> As we support our local farmers, You, consumers help reduce the carbon footprint associated with lon-distance transport and supoort small-scale farming.</li>
            <li> Local food often contains more nutrients and is freshe, contributing to a healthier liefestyle.</li>
            <li> Greenfiled Local Hub producers engage with our communites, providing educational resources and support for sustainable practices that helps us as a company.</li>
        </ol>
    </div>

    <div class="methods">
        <h2 class="heading">Why shop Local?</h2>
        <hr class="divider">
        <p class="details">Shopping locally at retail food and produce shops just like Greenfield Local Hub, offers numerous benefits, including: </p>
        <ol class="list"> 
            <li> Local shopping minimises the amount of packaging and transportaton required.</li>
            <li>Every purchase supports ous Greenfiled Local Hub, which in turn helps to keep moneyy in the local area and create jobs.</li>
            <li>Locally sourced food is often fresher and of higher quality, as it is produced closer to the consumer.</li>
            <li>Local food producers are more likely to adopt sustainable practices, reducing their carbon footprint and environmental impat.</li>
            <li>Shopping locally fosters a sense of comunity and connection,as it supports Greefiled Local Hub services.</li>
        </ol>
    </div>

</div>
    

</div>















{% endblock %}