{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

<h2>Privacy Policy</h2>

<p>
    This application collects personal information such as your name, email address, password and your gender to provide the services of the platform.
</p>

<p>
    Your information will not be sold or shared with third parties. It is used only to allow application to function and provide energy usage insights.
</p>

<p id="text">
    - Thank you for your Understanding. -
</p>










{% endblock %}