{% extends "base.html" %}

{% block title %}Terms & Conditions{% endblock %}

{% block content %}

<h2>Terms and Conditions</h2>

<p>
    By using this application, you agree to the following terms:
</p>

<p>
    1. This platform is designed to help users yo view products with transparent pricing availability, place orders for colection or delivery, and manage their accounts and view order history.The information provided by the application is for informational purposes only.
</p>

<p>
    2. Users are responsible for ensuring that the data they input is accurate.
</p>

<p>
    3. When you register to use this site you will be asked to create a passsword. You must keep this passsword confidential and must not disclose it or share it with anyone. 
</p>
 



{% endblock %}